# Automobile data

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('https://pynative.com/wp-content/uploads/2019/01/Automobile_data.csv')
df

In [4]:
F5=df.head()

In [5]:
L5=df.tail()

In [6]:
F5

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [7]:
L5

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [8]:
del df['index']
df.sort_values(by='horsepower')
df['index']=[i for i in range(61)]
df

In [13]:
df.set_index('index')

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
10,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
11,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
13,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
14,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
18,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
21,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
22,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
23,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
24,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
25,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
26,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
27,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
28,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
29,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
...,...,...,...,...,...,...,...,...,...
31,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
32,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
33,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
34,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
35,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
36,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
38,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
39,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
40,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
41,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
42,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
43,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
44,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
45,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
46,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
47,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,NaN
48,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
55,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
56,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [14]:
df.isnull().sum()

company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
index               0
dtype: int64

In [58]:
df=df.sort_values(by='horsepower')

df['price']=df['price'].fillna(df['price'].interpolate())

df.isnull().sum()

company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
index               0
dtype: int64

In [59]:
f=df.set_index('index')
f.to_csv("A2.csv")
f

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
13,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
55,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
57,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
40,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
52,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
50,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
53,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
49,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
48,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
51,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
17,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
27,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
36,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
29,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
16,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
37,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
28,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
43,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
42,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
41,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
23,isuzu,sedan,94.5,155.9,ohc,four,70,38,12319.5
14,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
22,isuzu,sedan,94.5,155.9,ohc,four,70,38,6435.0
31,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
18,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
21,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
56,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
38,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
39,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
...,...,...,...,...,...,...,...,...,...
58,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
8,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
7,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
30,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
19,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
60,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0
59,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
9,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
33,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
32,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
44,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
54,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
24,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
25,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
11,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
10,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
12,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
34,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
35,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
45,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
46,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
26,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
47,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,36000.0

In [60]:
df=df.sort_values(by='price')

L=df.tail(1)
L

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,index
35,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0,35

In [61]:
max_company=L['company']

print(max_company)

35    mercedes-benz
Name: company, dtype: object

In [62]:
print(max_company.to_string(index=False))

 mercedes-benz

In [63]:
l=[]
for i in range(len(df['company'])):
    if df['company'][i]=='toyota':
        l.append(df['index'][i])
        
l

[48, 49, 50, 51, 52, 53, 54]

In [64]:
f=f.sort_values(by='index')

f

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
10,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
11,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
13,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
14,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
18,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
21,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
22,isuzu,sedan,94.5,155.9,ohc,four,70,38,6435.0
23,isuzu,sedan,94.5,155.9,ohc,four,70,38,12319.5
24,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
25,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
26,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
27,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
28,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
29,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
...,...,...,...,...,...,...,...,...,...
31,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
32,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
33,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
34,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
35,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
36,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
38,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
39,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
40,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
41,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
42,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
43,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
44,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
45,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
46,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
47,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,36000.0
48,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
55,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
56,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [28]:
f.iloc[l[0]:(l[-1]+1),:]

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
48,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

In [65]:
from collections import Counter
count=Counter(df['company'])
dic=dict(count)

dic

{'chevrolet': 3,
 'mazda': 5,
 'toyota': 7,
 'mitsubishi': 4,
 'dodge': 2,
 'isuzu': 3,
 'nissan': 5,
 'honda': 3,
 'volkswagen': 4,
 'volvo': 2,
 'alfa-romero': 3,
 'audi': 4,
 'bmw': 6,
 'mercedes-benz': 4,
 'jaguar': 3,
 'porsche': 3}

In [31]:
ex_car={}
for i in dic:
    max_price=0
    for j in range(len(df['company'])):
        if i==df['company'][j]:
            if max_price<df['price'][j]:
                max_price=df['price'][j]
    ex_car[i]=max_price
ex_car

{'chevrolet': 6575.0,
 'mazda': 18344.0,
 'toyota': 15750.0,
 'mitsubishi': 8189.0,
 'dodge': 6377.0,
 'isuzu': 12319.5,
 'nissan': 13499.0,
 'honda': 12945.0,
 'volkswagen': 9995.0,
 'volvo': 13415.0,
 'alfa-romero': 16500.0,
 'audi': 18920.0,
 'bmw': 41315.0,
 'mercedes-benz': 45400.0,
 'jaguar': 36000.0,
 'porsche': 37028.0}

In [68]:
l=list(ex_car.values())
i_list=[]
for i in range(len(df['price'])):
    for j in l:
        if df['price'][i]==j:
            i_list.append(i)

print(i_list)
x=[]

for i in range(len(i_list)):
    x.append(f.iloc[i_list[i],:])

f=pd.DataFrame(x)

f

[1, 2, 6, 11, 15, 16, 19, 23, 26, 31, 35, 39, 44, 46, 47, 54, 58, 60]

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
11,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
15,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
19,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
23,isuzu,sedan,94.5,155.9,ohc,four,70,38,12319.5
26,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
31,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
35,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
39,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
44,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
46,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
47,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,36000.0
54,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
58,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
60,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [69]:
df=df.sort_values('index')

In [41]:
dic

{'chevrolet': 3,
 'mazda': 5,
 'toyota': 7,
 'mitsubishi': 4,
 'dodge': 2,
 'isuzu': 3,
 'nissan': 5,
 'honda': 3,
 'volkswagen': 4,
 'volvo': 2,
 'alfa-romero': 3,
 'audi': 4,
 'bmw': 6,
 'mercedes-benz': 4,
 'jaguar': 3,
 'porsche': 3}

In [70]:
avg_list={}
for i in dic:
    sum_milg=0
    for j in range(len(df['company'])):
        if i==df['company'][j]:
            sum_milg+=df['average-mileage'][j]
    avg_milg=sum_milg/dic[i]
    avg_list[i]=avg_milg

avg_list

{'chevrolet': 41.0,
 'mazda': 28.0,
 'toyota': 28.714285714285715,
 'mitsubishi': 29.5,
 'dodge': 31.0,
 'isuzu': 33.333333333333336,
 'nissan': 31.4,
 'honda': 26.333333333333332,
 'volkswagen': 31.75,
 'volvo': 23.0,
 'alfa-romero': 20.333333333333332,
 'audi': 20.0,
 'bmw': 19.0,
 'mercedes-benz': 18.0,
 'jaguar': 14.333333333333334,
 'porsche': 17.0}