In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('http://www.ldeo.columbia.edu/~rpa/usgs_earthquakes_2014.csv')
df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type
0,2014-01-31 23:53:37.000,60.252000,-152.708100,90.200,1.10,ml,NaN,NaN,NaN,0.2900,ak,ak11155107,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake
1,2014-01-31 23:48:35.452,37.070300,-115.130900,0.000,1.33,ml,4.0,171.430000,0.342000,0.0247,nn,nn00436847,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake
2,2014-01-31 23:47:24.000,64.671700,-149.252800,7.100,1.30,ml,NaN,NaN,NaN,1.0000,ak,ak11151142,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake
3,2014-01-31 23:30:54.000,63.188700,-148.957500,96.500,0.80,ml,NaN,NaN,NaN,1.0700,ak,ak11151135,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake
4,2014-01-31 23:30:52.210,32.616833,-115.692500,10.590,1.34,ml,6.0,285.000000,0.043210,0.2000,ci,ci37171541,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake
5,2014-01-31 23:30:36.930,32.567667,-117.013500,0.010,1.51,ml,16.0,264.000000,0.080810,0.2100,ci,ci11419722,2014-02-01T00:09:04.470Z,"3km N of Tijuana, Mexico",quarry blast
6,2014-01-31 23:28:04.020,33.359000,-116.360500,12.980,1.17,ml,26.0,163.000000,0.032660,0.1200,ci,ci11419714,2014-02-01T00:54:07.630Z,"11km N of Borrego Springs, California",earthquake
7,2014-01-31 23:22:52.000,62.800200,-150.696500,86.400,1.50,ml,NaN,NaN,NaN,0.4700,ak,ak11151127,2014-01-31T23:33:23.190Z,"61km NNW of Talkeetna, Alaska",earthquake
8,2014-01-31 23:20:42.000,58.169500,-151.992400,50.100,2.10,ml,NaN,NaN,NaN,0.3700,ak,ak11151125,2014-01-31T23:25:57.118Z,"48km NNE of Kodiak, Alaska",earthquake
9,2014-01-31 23:17:34.300,37.686000,-121.728700,4.200,1.60,Md,NaN,111.600000,0.062882,0.0700,nc,nc72153361,2014-02-11T22:43:08.085Z,"3km E of Livermore, California",earthquake
10,2014-01-31 23:08:03.660,-4.975800,153.946600,110.180,4.20,mb,NaN,98.000000,1.940000,0.6100,us,usc000mqlp,2014-04-08T01:43:19.000Z,"115km ESE of Taron, Papua New Guinea",earthquake
11,2014-01-31 23:01:26.000,60.385200,-147.650500,13.100,1.10,ml,NaN,NaN,NaN,0.3500,ak,ak11155101,2014-02-05T04:05:14.896Z,"71km SE of Whittier, Alaska",earthquake
12,2014-01-31 22:56:11.900,38.781200,-122.755800,2.100,0.90,Md,NaN,79.200000,0.008983,0.0200,nc,nc72153351,2014-01-31T23:42:09.182Z,"0km N of The Geysers, California",earthquake
13,2014-01-31 22:55:55.900,37.634800,-119.019500,4.200,0.10,Md,NaN,86.400000,0.008983,0.0600,nc,nc72153356,2014-02-11T01:58:47.547Z,"4km WSW of Mammoth Lakes, California",earthquake
14,2014-01-31 22:54:32.970,-28.177500,-177.905800,95.840,4.30,mb,NaN,104.000000,1.063000,1.1400,us,usc000mqln,2014-04-08T01:43:19.000Z,"120km N of Raoul Island, New Zealand",earthquake
15,2014-01-31 22:54:06.200,36.538300,-89.629000,7.800,1.50,md,13.0,100.799992,0.035933,0.3400,nm,nm020414a,2014-02-04T14:10:26.871Z,"6km SSW of Lilbourn, Missouri",earthquake
16,2014-01-31 22:49:49.740,-23.119200,179.117400,528.340,4.40,mb,NaN,80.000000,5.439000,0.9500,us,usc000mqls,2014-04-08T01:43:19.000Z,South of the Fiji Islands,earthquake
17,2014-01-31 22:49:13.930,33.003000,-116.321167,10.490,1.78,ml,51.0,57.000000,0.104500,0.2100,ci,ci11419698,2014-02-01T00:06:58.130Z,"27km ESE of Julian, California",earthquake
18,2014-01-31 22:47:21.750,36.131667,-118.079167,5.610,1.18,ml,14.0,145.000000,0.182100,0.1800,ci,ci11419706,2014-01-31T23:47:24.935Z,"52km S of Lone Pine, California",earthquake
19,2014-01-31 22:45:19.000,64.995400,-147.331300,0.100,1.10,ml,NaN,NaN,NaN,0.7900,ak,ak11151102,2014-01-31T22:58:41.619Z,"23km NNE of Badger, Alaska",earthquake
20,2014-01-31 22:35:53.900,38.585800,-122.458300,6.700,1.20,Md,NaN,61.200000,0.062882,0.1100,nc,nc72153341,2014-02-11T02:26:09.007Z,"1km NNW of Angwin, California",earthquake
21,2014-01-31 22:31:14.800,46.820100,-112.199600,7.900,1.50,Md,20.0,183.600000,0.597380,0.1900,mb,mb14328395,2014-02-03T23:06:21.933Z,"14km NW of Helena Valley Northwest, Montana",earthquake
22,2014-01-31 22:30:54.000,35.987333,-117.414500,7.990,0.94,ml,10.0,161.000000,0.092840,0.1500,ci,ci11419690,2014-01-31T23:44:34.918Z,"24km N of Searles Valley, California",earthquake
23,2014-01-31 22:26:40.400,38.817500,-122.816000,3.000,0.50,Md,NaN,111.600000,0.008983,0.0200,nc,nc72153331,2014-01-31T23:18:06.391Z,"6km NW of The Geysers, California",earthquake
24,2014-01-31 22:22:14.600,18.482500,-64.760800,91.000,3.40,Md,4.0,342.000000,0.843518,0.0700,pr,pr14031002,2014-04-08T01:43:19.000Z,"16km WNW of Road Town, British Virgin Islands",earthquake
25,2014-01-31 22:20:19.000,61.742600,-152.009800,102.200,1.40,ml,NaN,NaN,NaN,0.3000,ak,ak11151084,2014-01-31T22:45:05.416Z,"104km W of Willow, Alaska",earthquake
26,2014-01-31 22:19:44.330,51.156900,-178.091000,37.500,4.20,mb,NaN,NaN,NaN,0.8300,us,usc000mf1x,2014-04-08T01:43:19.000Z,"72km E of Amatignak Island, Alaska",earthquake
27,2014-01-31 22:19:12.180,34.315500,-116.900833,9.150,0.96,ml,28.0,166.000000,0.055570,0.1400,ci,ci11419682,2014-01-31T23:38:32.200Z,"7km NW of Big Bear City, California",earthquake
28,2014-01-31 22:17:28.030,33.367000,-116.388167,13.020,1.02,ml,25.0,155.000000,0.043850,0.1700,ci,ci11419674,2014-01-31T23:23:18.900Z,"12km N of Borrego Springs, California",earthquake
29,2014-01-31 22:16:01.000,60.039800,-141.762900,4.200,1.20,ml,NaN,NaN,NaN,0.6000,ak,ak11151076,2014-01-31T22:39:08.447Z,"37km E of Cape Yakataga, Alaska",earthquake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120078,2014-12-01 01:47:40.900,36.832400,-97.882300,3.858,2.50,ml,NaN,86.000000,NaN,0.5100,us,usb000t1ww,2015-02-24T00:35:14.040Z,"13km WNW of Medford, Oklahoma",earthquake
120079,2014-12-01 01:44:24.770,38.823666,-122.843002,2.260,0.85,md,19.0,53.000000,0.006252,0.0300,nc,nc72358491,2014-12-01T02:19:01.958Z,"9km NW of The Geysers, California",earthquake
120080,2014-12-01 01:43:46.510,33.969167,-116.914167,7.190,0.90,ml,41.0,53.000000,0.072930,0.1100,ci,ci37065311,2014-12-01T18:49:33.670Z,"6km NW of Banning, California",earthquake
120081,2014-12-01 01:40:02.890,38.764667,-122.890667,3.940,1.17,md,34.0,121.000000,0.035560,0.0500,nc,nc72358486,2014-12-10T21:31:05.214Z,"11km ESE of Cloverdale, California",earthquake
120082,2014-12-01 01:39:48.700,19.403300,-155.278500,1.400,2.10,Ml,NaN,39.600000,0.008983,0.1000,hv,hv60809571,2014-12-03T04:58:17.241Z,"5km SW of Volcano, Hawaii",earthquake
120083,2014-12-01 01:30:33.300,43.715800,-121.237500,1.300,-0.40,Md,NaN,162.000000,0.008983,0.1200,uw,uw60926197,2014-12-01T03:57:01.107Z,"21km ESE of Three Rivers, Oregon",earthquake
120084,2014-12-01 01:18:57.440,38.760167,-122.896000,4.110,0.79,md,25.0,75.000000,0.039950,0.0700,nc,nc72358481,2014-12-10T20:32:03.716Z,"11km ESE of Cloverdale, California",earthquake
120085,2014-12-01 01:18:52.900,46.974300,-112.925800,14.800,1.00,mc,21.0,118.799990,0.102408,0.1800,mb,mb14712763,2014-12-03T00:06:47.328Z,"18km W of Lincoln, Montana",earthquake
120086,2014-12-01 01:11:34.800,35.463100,-92.239300,1.000,1.80,md,10.0,100.799992,0.125764,0.2400,nm,nm60020625,2014-12-01T13:34:38.125Z,"14km SSE of Fairfield Bay, Arkansas",earthquake
120087,2014-12-01 01:07:49.300,45.099100,-111.919600,6.100,1.30,mc,19.0,57.599995,0.159002,0.1200,mb,mb14923536,2014-12-03T00:06:41.997Z,"21km S of Virginia City, Montana",earthquake
120088,2014-12-01 01:07:15.000,64.989600,-147.313200,0.000,1.40,ml,NaN,NaN,NaN,0.6900,ak,ak11453419,2014-12-09T02:04:47.492Z,"23km NNE of Badger, Alaska",earthquake
120089,2014-12-01 01:05:01.000,63.461100,-148.765900,13.800,0.60,ml,NaN,NaN,NaN,0.5400,ak,ak11453418,2014-12-09T02:05:51.183Z,"12km NE of Cantwell, Alaska",earthquake
120090,2014-12-01 01:04:17.890,7.142900,126.884400,176.670,4.30,mb,NaN,134.000000,1.297000,0.8700,us,usc000t6y1,2015-02-24T00:35:14.040Z,"37km ESE of Santiago, Philippines",earthquake
120091,2014-12-01 01:03:50.530,38.764500,-122.890833,4.130,1.14,md,37.0,156.000000,0.035690,0.0500,nc,nc72358471,2014-12-10T21:02:04.714Z,"11km ESE of Cloverdale, California",earthquake
120092,2014-12-01 01:02:27.710,37.473333,-118.786333,5.920,0.73,md,13.0,111.000000,0.121400,0.0300,nc,nc72358476,2014-12-03T17:30:04.727Z,"25km SE of Mammoth Lakes, California",earthquake
120093,2014-12-01 01:00:29.200,38.767167,-122.888333,3.560,0.82,md,26.0,143.000000,0.033850,0.0600,nc,nc72358466,2014-12-11T06:55:03.683Z,"11km ESE of Cloverdale, California",earthquake
120094,2014-12-01 00:59:41.910,38.830166,-122.833504,1.730,0.29,md,7.0,222.000000,0.008552,0.0100,nc,nc72358461,2014-12-01T01:33:06.454Z,"8km NW of The Geysers, California",earthquake
120095,2014-12-01 00:58:43.430,34.536167,-116.525833,4.310,1.44,ml,20.0,65.000000,0.134700,0.1600,ci,ci37065303,2014-12-01T18:45:06.920Z,"40km ENE of Lucerne Valley, California",earthquake
120096,2014-12-01 00:42:54.000,62.028000,-145.138900,15.900,1.20,ml,17.0,86.399993,NaN,0.6800,ak,ak11453417,2014-12-09T02:05:13.927Z,"23km ESE of Glennallen, Alaska",earthquake
120097,2014-12-01 00:41:04.000,65.117800,-148.999600,12.500,0.60,ml,11.0,169.199986,NaN,0.7400,ak,ak11453416,2014-12-09T02:05:13.074Z,"55km WNW of Ester, Alaska",earthquake
120098,2014-12-01 00:40:02.720,37.209600,71.945800,95.570,4.20,mb,NaN,125.000000,1.097000,0.9100,us,usb000t1gp,2015-02-24T00:35:14.040Z,"11km ESE of Roshtqal'a, Tajikistan",earthquake
120099,2014-12-01 00:30:21.000,63.479600,-148.224300,0.800,0.80,ml,NaN,NaN,NaN,0.5100,ak,ak11453414,2014-12-09T02:04:34.872Z,"37km ENE of Cantwell, Alaska",earthquake
120100,2014-12-01 00:24:33.140,-24.634000,-179.601800,470.860,4.50,mb,NaN,131.000000,10.547000,0.7400,us,usc000t6yn,2015-02-24T00:35:14.040Z,South of the Fiji Islands,earthquake
120101,2014-12-01 00:16:26.000,65.160000,-149.016800,11.400,0.60,ml,NaN,NaN,NaN,0.7300,ak,ak11453410,2014-12-10T01:03:17.366Z,"58km NW of Ester, Alaska",earthquake
120102,2014-12-01 00:16:21.000,62.795800,-150.387800,79.700,1.20,ml,NaN,NaN,NaN,0.4500,ak,ak11453411,2014-12-09T02:05:53.895Z,"54km NNW of Talkeetna, Alaska",earthquake
120103,2014-12-01 00:10:16.000,60.963900,-146.762900,14.800,3.80,ml,NaN,NaN,NaN,0.6900,ak,ak11453391,2015-03-24T18:25:07.628Z,"29km SW of Valdez, Alaska",earthquake
120104,2014-12-01 00:09:39.000,58.869100,-154.415900,108.400,2.40,ml,NaN,NaN,NaN,0.6700,ak,ak11453395,2014-12-10T01:04:25.209Z,"102km SSE of Old Iliamna, Alaska",earthquake
120105,2014-12-01 00:09:25.350,38.843498,-122.825836,2.370,0.43,md,8.0,107.000000,0.008991,0.0300,nc,nc72358451,2014-12-01T01:15:02.814Z,"9km WNW of Cobb, California",earthquake
120106,2014-12-01 00:05:54.000,65.152100,-148.992000,9.500,0.40,ml,NaN,NaN,NaN,0.6900,ak,ak11453390,2014-12-10T01:03:01.225Z,"57km NW of Ester, Alaska",earthquake
120107,2014-12-01 00:04:05.000,60.227200,-147.024500,2.500,1.60,ml,NaN,NaN,NaN,0.7300,ak,ak11453389,2014-12-09T02:04:46.894Z,"78km WSW of Cordova, Alaska",earthquake

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120108 entries, 0 to 120107
Data columns (total 15 columns):
time         120108 non-null object
latitude     120108 non-null float64
longitude    120108 non-null float64
depth        120107 non-null float64
mag          120065 non-null float64
magType      120065 non-null object
nst          59688 non-null float64
gap          94935 non-null float64
dmin         85682 non-null float64
rms          119716 non-null float64
net          120108 non-null object
id           120108 non-null object
updated      120108 non-null object
place        120108 non-null object
type         120108 non-null object
dtypes: float64(8), object(7)
memory usage: 13.7+ MB

In [4]:
df.describe()

,latitude,longitude,depth,mag,nst,gap,dmin,rms
count,120108.000000,120108.000000,120107.000000,120065.000000,59688.000000,94935.000000,85682.000000,119716.000000
mean,38.399579,-99.961402,28.375029,1.793958,17.878284,124.048978,0.893198,0.358174
std,21.938258,82.996858,62.215416,1.343466,14.911369,68.518595,2.903966,0.364046
min,-73.462000,-179.998900,-9.900000,-0.970000,0.000000,9.000000,0.000000,0.000000
25%,34.228917,-147.742025,4.100000,0.820000,8.000000,74.000000,0.020760,0.070000
50%,38.805300,-120.832000,9.200000,1.400000,14.000000,107.000000,0.073670,0.200000
75%,53.889500,-116.068100,22.880000,2.400000,22.000000,155.000000,0.447000,0.590000
max,86.651400,179.998000,697.360000,8.200000,365.000000,356.400000,64.498000,8.460000

In [5]:
df.isnull().sum()

time             0
latitude         0
longitude        0
depth            1
mag             43
magType         43
nst          60420
gap          25173
dmin         34426
rms            392
net              0
id               0
updated          0
place            0
type             0
dtype: int64

In [6]:
l1=[]
l2=[]
for i in df['time']:
    l1.append(i.split(' ')[0])
    l2.append(i.split(' ')[1])
df['Time']=l2
df['date']=l1
del df['time']
df.head()

,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,Time,date
0,60.252000,-152.7081,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,ak11155107,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake,23:53:37.000,2014-01-31
1,37.070300,-115.1309,0.00,1.33,ml,4.0,171.43,0.34200,0.0247,nn,nn00436847,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake,23:48:35.452,2014-01-31
2,64.671700,-149.2528,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,ak11151142,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake,23:47:24.000,2014-01-31
3,63.188700,-148.9575,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,ak11151135,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake,23:30:54.000,2014-01-31
4,32.616833,-115.6925,10.59,1.34,ml,6.0,285.00,0.04321,0.2000,ci,ci37171541,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake,23:30:52.210,2014-01-31

In [7]:
df=df.set_index('id')
df['mag']=df['mag'].fillna(df['mag'].interpolate())
df['mag']
df=df.sort_values(by='mag')[::-1]
df['place']
df['place']=df['place'].str.lstrip()
df.head()

,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,updated,place,type,Time,date
id,,,,,,,,,,,,,,,
usc000nzvd,-19.6097,-70.7691,25.00,8.2,mww,NaN,23.0,0.609,0.66,us,2015-07-30T16:24:51.223Z,"94km NW of Iquique, Chile",earthquake,23:46:47.260,2014-04-01
usc000rki5,51.8486,178.7352,109.00,7.9,mww,NaN,22.0,0.133,0.71,us,2015-04-18T21:54:08.699Z,"19km SE of Little Sitkin Island, Alaska",earthquake,20:53:09.700,2014-06-23
usc000p27i,-20.5709,-70.4931,22.40,7.7,mww,NaN,44.0,1.029,0.82,us,2015-06-06T07:31:05.755Z,"53km SW of Iquique, Chile",earthquake,02:43:13.110,2014-04-03
usc000phx5,-11.2701,162.1481,22.56,7.6,mww,NaN,13.0,2.828,0.71,us,2015-04-18T21:54:27.398Z,"93km SSE of Kirakira, Solomon Islands",earthquake,20:14:39.300,2014-04-12
usb000pr89,-6.7547,155.0241,43.37,7.5,mww,NaN,16.0,3.820,1.25,us,2015-04-18T21:54:18.633Z,"70km SW of Panguna, Papua New Guinea",earthquake,13:28:00.810,2014-04-19

In [8]:
loc=[]
cntry=[]
for i in df['place']:
    if ',' in i:
        loc.append((i.split(',')[0]).lstrip())
        cntry.append((i.split(',')[1]).lstrip())
    else:
        cntry.append(i.lstrip())

df['country/state']=cntry
df.head()

,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,updated,place,type,Time,date,country/state
id,,,,,,,,,,,,,,,,
usc000nzvd,-19.6097,-70.7691,25.00,8.2,mww,NaN,23.0,0.609,0.66,us,2015-07-30T16:24:51.223Z,"94km NW of Iquique, Chile",earthquake,23:46:47.260,2014-04-01,Chile
usc000rki5,51.8486,178.7352,109.00,7.9,mww,NaN,22.0,0.133,0.71,us,2015-04-18T21:54:08.699Z,"19km SE of Little Sitkin Island, Alaska",earthquake,20:53:09.700,2014-06-23,Alaska
usc000p27i,-20.5709,-70.4931,22.40,7.7,mww,NaN,44.0,1.029,0.82,us,2015-06-06T07:31:05.755Z,"53km SW of Iquique, Chile",earthquake,02:43:13.110,2014-04-03,Chile
usc000phx5,-11.2701,162.1481,22.56,7.6,mww,NaN,13.0,2.828,0.71,us,2015-04-18T21:54:27.398Z,"93km SSE of Kirakira, Solomon Islands",earthquake,20:14:39.300,2014-04-12,Solomon Islands
usb000pr89,-6.7547,155.0241,43.37,7.5,mww,NaN,16.0,3.820,1.25,us,2015-04-18T21:54:18.633Z,"70km SW of Panguna, Papua New Guinea",earthquake,13:28:00.810,2014-04-19,Papua New Guinea

In [9]:
from collections import Counter
count=Counter(cntry)
dic=dict(count)
dic

{'Chile': 1191,
 'Alaska': 33589,
 'Solomon Islands': 600,
 'Papua New Guinea': 1356,
 'El Salvador': 90,
 'Mexico': 677,
 'Fiji': 666,
 'Indonesia': 2120,
 'Southern East Pacific Rise': 47,
 '': 355,
 'Federated States of Micronesia region': 46,
 'China': 246,
 'New Zealand': 762,
 'Greece': 300,
 'Peru': 216,
 'California': 44451,
 'Bouvet Island region': 2,
 'Wallis and Futuna': 62,
 'Guam': 122,
 'Nicaragua': 133,
 'Philippines': 749,
 'Panama': 48,
 'New Caledonia': 81,
 'South of the Fiji Islands': 306,
 'South Indian Ocean': 14,
 'Japan': 1150,
 'Vanuatu': 330,
 'Canada': 765,
 'Barbados': 2,
 'East of the South Sandwich Islands': 19,
 'Puerto Rico': 2286,
 'India': 271,
 'Micronesia': 45,
 'Mid-Indian Ridge': 82,
 'West Chile Rise': 28,
 'Balleny Islands region': 46,
 'Tonga': 534,
 'Argentina': 196,
 'Japan region': 67,
 'Iran': 298,
 'Russia': 392,
 'Prince Edward Islands region': 10,
 'Thailand': 22,
 'Easter Island region': 32,
 'Guatemala': 167,
 'Taiwan': 91,
 'South Napa Earthquake': 1,
 'Fiji region': 34,
 'Off the west coast of northern Sumatra': 34,
 'Northern Mid-Atlantic Ridge': 126,
 'Owen Fracture Zone region': 16,
 'Central Mid-Atlantic Ridge': 78,
 'Guadeloupe': 16,
 'West of Macquarie Island': 23,
 'South Georgia Island region': 2,
 'Southern Mid-Atlantic Ridge': 45,
 'Central East Pacific Rise': 35,
 'Northern Mariana Islands': 334,
 'Dominican Republic': 286,
 'Pacific-Antarctic Ridge': 56,
 'Southeast Indian Ridge': 42,
 'Scotia Sea': 27,
 'North of Ascension Island': 23,
 'South of the Kermadec Islands': 25,
 'Colombia': 113,
 'North Indian Ocean': 11,
 'Carlsberg Ridge': 97,
 'Afghanistan': 148,
 'Bolivia': 35,
 'Romania': 16,
 'Iceland': 398,
 'Reykjanes Ridge': 67,
 'Ecuador': 52,
 'Southeast of Easter Island': 18,
 'South Georgia and the South Sandwich Islands': 5,
 'Western Indian-Antarctic Ridge': 48,
 'Azerbaijan': 12,
 'Algeria': 16,
 'Oregon': 3195,
 'Off the coast of Ecuador': 2,
 'South of Africa': 20,
 'South Sandwich Islands': 91,
 'South Africa': 17,
 'Azores Islands region': 6,
 'Mauritius - Reunion region': 4,
 'Pakistan': 50,
 'Southwest of Africa': 13,
 'Greenland': 10,
 'Northern East Pacific Rise': 7,
 'Palau region': 2,
 'Drake Passage': 3,
 'Venezuela': 20,
 'New Mexico': 42,
 'Southwest Indian Ridge': 27,
 'East Timor': 70,
 'Turkey': 82,
 'Banda Sea': 19,
 'South of Panama': 13,
 'South of Tonga': 32,
 'Greenland Sea': 11,
 'Kuril Islands': 56,
 'Burma': 56,
 'Zambia': 7,
 'Off the coast of Oregon': 27,
 'Tajikistan': 72,
 'Turkmenistan': 7,
 'Chagos Archipelago region': 14,
 'Costa Rica': 40,
 'Cayman Islands': 11,
 'Kyrgyzstan': 25,
 'Martinique': 5,
 'Honduras': 11,
 'Bouvet Island': 8,
 'Christmas Island': 7,
 'Oman': 5,
 'Ascension Island region': 7,
 'Tanzania': 11,
 'Tristan da Cunha region': 4,
 'Iraq': 8,
 'Brazil': 3,
 'Malawi': 1,
 'South Atlantic Ocean': 5,
 'Montenegro': 3,
 'Saint Lucia': 1,
 'Cuba': 8,
 'Kazakhstan': 6,
 'Anguilla': 10,
 'North Korea': 1,
 'Albania': 15,
 'South Shetland Islands': 13,
 'Svalbard and Jan Mayen': 28,
 'East of the North Island of New Zealand': 7,
 'Yemen': 34,
 'Kansas': 837,
 'West of the Galapagos Islands': 6,
 'French Southern Territories': 9,
 'Palau': 1,
 'East of Severnaya Zemlya': 4,
 'Portugal': 12,
 'Mongolia': 7,
 'Prince Edward Islands': 9,
 'Southern Pacific Ocean': 2,
 'Saint Helena': 5,
 'Laikit II (Dimembe)': 3,
 'Montana': 1991,
 'Idaho': 404,
 'France': 4,
 'Morocco': 11,
 'Comoros': 2,
 'Samoa': 5,
 'Mauritius': 2,
 'Tonga region': 3,
 'Sea of Okhotsk': 4,
 'Uzbekistan': 10,
 'Mozambique': 3,
 'Antarctica': 10,
 'Off the east coast of the North Island of New Zealand': 8,
 'Italy': 21,
 'Falkland Islands region': 4,
 'Somalia': 7,
 'Off the coast of Central America': 6,
 'North of Franz Josef Land': 4,
 'Arizona': 63,
 'northern Mid-Atlantic Ridge': 1,
 'Norwegian Sea': 5,
 'Laptev Sea': 2,
 'Southwestern Atlantic Ocean': 2,
 'Indian Ocean Triple Junction': 7,
 'Vanuatu region': 12,
 'Trinidad and Tobago': 2,
 'East of the Kuril Islands': 12,
 'Macquarie Island region': 2,
 'Australia': 19,
 'East of the Philippine Islands': 1,
 'West of Vancouver Island': 13,
 'Niue': 1,
 'Vietnam': 2,
 'Spain': 4,
 'South of Tasmania': 1,
 'Mozambique Channel': 1,
 'Portugal region': 1,
 'Crozet Islands region': 2,
 'Kermadec Islands region': 4,
 'Azores-Cape St. Vincent Ridge': 3,
 'Galapagos Triple Junction region': 1,
 'India region': 5,
 'Sweden': 1,
 'Ethiopia': 5,
 'American Samoa': 1,
 'Philippine Islands region': 2,
 'Aruba': 8,
 'Eritrea': 4,
 'Malaysia': 3,
 'North Atlantic Ocean': 2,
 'South of Australia': 2,
 'West of Australia': 1,
 'Haiti': 3,
 'Wyoming': 834,
 'Cook Islands': 1,
 'Eastern Greenland': 1,
 'Poland': 5,
 'Santa Cruz Islands region': 1,
 'Uganda': 2,
 'Southeast central Pacific Ocean': 1,
 'Socotra region': 1,
 'Saudi Arabia': 7,
 'Dominica': 2,
 'Ecuador region': 4,
 'Mauritania': 8,
 'Hawaii': 2564,
 'western Xizang': 1,
 'South Sandwich Islands region': 1,
 'North of Svalbard': 4,
 'Mariana Islands region': 4,
 'Peru-Ecuador border region': 1,
 'Slovenia': 3,
 'Northwest of Australia': 1,
 'Labrador Sea': 1,
 'Nunoa': 5,
 'French Polynesia': 1,
 'Bosnia and Herzegovina': 6,
 'Democratic Republic of the Congo': 2,
 'South Sudan': 1,
 'Oklahoma': 2040,
 'Syria': 2,
 'South of the Mariana Islands': 1,
 'Cyprus': 3,
 'North of New Zealand': 1,
 'Nepal': 2,
 'British Indian Ocean Territory': 2,
 'North of Severnaya Zemlya': 2,
 'north of Ascension Island': 1,
 'Bay of Bengal': 2,
 'Nevada': 2905,
 'Burundi': 1,
 'Davis Strait': 3,
 'Cape Verde': 1,
 'Russia region': 1,
 'Southwest of Australia': 1,
 'Molucca Sea': 3,
 'Celebes Sea': 1,
 'Kosovo': 1,
 'Bangladesh': 3,
 'Barbuda': 4,
 'British Virgin Islands': 538,
 'Utah': 1372,
 'Bhutan': 1,
 'Bermuda': 1,
 'Saint Vincent and the Grenadines': 1,
 'Republic of the Congo': 1,
 'Western Australia': 2,
 'Sudan': 2,
 'Egypt': 3,
 'Norway': 2,
 'Sulawesi': 1,
 'Ukraine': 1,
 'United Kingdom': 3,
 'Serbia': 2,
 'South Carolina': 9,
 'Angola': 1,
 'Macedonia': 2,
 'Djibouti': 2,
 'Off the south coast of Australia': 1,
 'south of Panama': 1,
 'Jordan': 1,
 'Georgia': 6,
 'Gulf of Alaska': 4,
 'Saint Kitts and Nevis': 1,
 'Washington': 2788,
 'Hungary': 1,
 'Timor Sea': 1,
 'Nunavut': 1,
 'Lebanon': 2,
 'East central Pacific Ocean': 1,
 'East of the Volcano Islands': 1,
 'Jersey': 2,
 'U.S. Virgin Islands': 233,
 'Czech Republic': 1,
 'Arkansas': 125,
 'Colorado': 45,
 'Leeward Islands': 1,
 'Alabama': 5,
 'eastern Montana': 18,
 'South of Alaska': 1,
 'Germany': 1,
 'Bonaire': 4,
 'Texas': 48,
 'Jamaica': 1,
 'Saint Martin': 3,
 'Virginia': 6,
 'Tennessee': 151,
 'Missouri': 127,
 'South Dakota': 1,
 'North Carolina': 7,
 'Minnesota': 9,
 'Ohio': 8,
 'Off the coast of Southeastern Alaska': 1,
 'Nebraska': 1,
 'Puerto Rico region': 8,
 'western Texas': 1,
 'New York': 21,
 'Connecticut': 2,
 'Alaska Peninsula': 19,
 'Kentucky': 8,
 'West Virginia': 1,
 'Aleutian Islands': 210,
 'northern Alaska': 166,
 'Tennessee-Virginia border region': 1,
 'Massachusetts': 3,
 'New Hampshire': 10,
 'south of the Aleutian Islands': 2,
 'Southern Alaska': 78,
 'Central Alaska': 101,
 'Illinois': 1,
 'western Montana': 13,
 'CA': 118,
 'Southeastern Alaska': 25,
 'Pennsylvania': 3,
 'southern Idaho': 5,
 'Virgin Islands region': 1,
 'Central California': 52,
 'Maine': 2,
 'New Jersey': 7,
 'Southern California': 16,
 'Rhode Island': 1,
 'Northern California': 86,
 '1km NNE of Quarry at BORON': 1,
 '1km ENE of Quarry at VICTORVILLE': 1,
 '3km WSW of Quarry at CUSHENBURY': 1,
 'Vermont': 1,
 'offshore Northern California': 1,
 'Off the south coast of Northwest Africa': 1,
 'Sierra Leone': 2}

In [10]:
s=list(dic.values())
s.sort(reverse=True)
t=s[:11]
print(t)

[44451, 33589, 3195, 2905, 2788, 2564, 2286, 2120, 2040, 1991, 1372]

In [11]:
T=[]
for i in t:
    for j in dic:
        if i==dic[j]:
            T.append(j)
            print(j,'-',i)

California - 44451
Alaska - 33589
Oregon - 3195
Nevada - 2905
Washington - 2788
Hawaii - 2564
Puerto Rico - 2286
Indonesia - 2120
Oklahoma - 2040
Montana - 1991
Utah - 1372

In [12]:
Weak10=df[['country/state','mag']].tail(10)
Strong10=df[['country/state','mag']].head(10)

In [13]:
Strong10

               country/state  mag
id
usc000nzvd             Chile  8.2
usc000rki5            Alaska  7.9
usc000p27i             Chile  7.7
usc000phx5   Solomon Islands  7.6
usb000pr89  Papua New Guinea  7.5
usc000piqj   Solomon Islands  7.4
usb000slwn       El Salvador  7.3
usb000pq41            Mexico  7.2
usc000pft9  Papua New Guinea  7.1
usc000stdc              Fiji  7.1

In [14]:
Weak10

           country/state   mag
id
uw60885067        Oregon -0.90
uw60885047        Oregon -0.90
uw60884892        Oregon -0.90
uw60895547        Oregon -0.90
uw60066413    Washington -0.90
uw60884577        Oregon -0.90
uw60896022        Oregon -0.90
uw60920072        Oregon -0.90
uw60889832        Oregon -0.90
uw60944536        Oregon -0.97