In [1]:
#importing required libraries
import pandas as pd
import numpy as np
import pgeocode

# Reading Data

In [44]:
agents_data=pd.read_csv('agents.tsv',sep='\t')

In [3]:
agents_data

,ID,NAME,ADDRESS,CITY,ZIPCODE,STATE
0,3,Xfu Gtmxsi,PO Box 112989,Anchorage,99511,Alaska
1,4,Vecgyeap C,2217 E Tudor Rd Ste 1,Anchorage,99507,Alaska
2,5,W N Icsjv,3515 Industrial Ave Ste D,Fairbanks,99701,Alaska
3,6,Trqkfygv V,12812 Old Glenn Hwy A3,Eagle River,99577,Alaska
4,7,S Yfrlvs,2550 Denali St.,Anchorage,99503,Alaska
...,...,...,...,...,...,...
2493,2493,Bnjx Fy,10825 Financial Ctr Pkwy,Little Rock,72211,Arkansas
2494,2494,Je Ldroqh,10825 Financial Centre Pkw,Little Rock,72211,Arkansas
2495,2495,Xdnrm Zvs,8305 Edgemont Road Suite B,Greers Ferry,72067,Arkansas
2496,2496,Juuwnyalho,353 Jefferson St SW,Camden,71701,Arkansas
2497,2497,Ikf Luma,353 Jefferson Street Southwest,Camden,71701,Arkansas

#creating a copy to perform operations

In [4]:
df=agents_data.copy()

In [5]:
df.head()

   ID        NAME                    ADDRESS         CITY  ZIPCODE   STATE
0   3  Xfu Gtmxsi              PO Box 112989    Anchorage    99511  Alaska
1   4  Vecgyeap C      2217 E Tudor Rd Ste 1    Anchorage    99507  Alaska
2   5  W N Icsjv   3515 Industrial Ave Ste D    Fairbanks    99701  Alaska
3   6  Trqkfygv V     12812 Old Glenn Hwy A3  Eagle River    99577  Alaska
4   7    S Yfrlvs            2550 Denali St.    Anchorage    99503  Alaska

Checking dataframe attributes

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2498 entries, 0 to 2497
Data columns (total 6 columns):
ID         2498 non-null int64
NAME       2498 non-null object
ADDRESS    2498 non-null object
CITY       2498 non-null object
ZIPCODE    2498 non-null int64
STATE      2498 non-null object
dtypes: int64(2), object(4)
memory usage: 117.2+ KB

In [7]:
df.STATE.unique()

array(['Alaska', 'Alabama', 'Georgia', 'Colorado', 'Arkansas'],
      dtype=object)

In [8]:
df.CITY.nunique()

278

In [9]:
gb=df.groupby('CITY')

In [10]:
gb.groups

{'Abbeville': Int64Index([129, 130, 327], dtype='int64'),
 'Adamsville': Int64Index([1640, 1702], dtype='int64'),
 'Addison': Int64Index([328], dtype='int64'),
 'Alabaster': Int64Index([329, 615, 616, 893, 948, 1010], dtype='int64'),
 'Albertville': Int64Index([ 330,  331,  614, 1221, 1225, 1293, 1387, 1468, 1495, 1615, 1616,
             1705, 1706, 1998, 2033, 2034, 2079, 2081],
            dtype='int64'),
 'Alexander City': Int64Index([326, 844, 862, 863, 867, 1011, 1012, 1467, 1703, 1704, 2006, 2014], dtype='int64'),
 'Alexandria': Int64Index([161, 336], dtype='int64'),
 'Aliceville': Int64Index([338, 1694], dtype='int64'),
 'Anchorage': Int64Index([  0,   1,   4,   5,  13,  14,  15,  16,  17,  18,  19,  20,  21,
              22,  23,  24,  25,  26,  27,  30,  36,  40,  43,  44,  47,  48,
              49,  50,  51,  52,  53,  56,  57,  58,  61,  62,  63,  66,  67,
              68,  72,  83,  84,  85,  86,  87,  88,  89,  90,  92,  93,  95,
              96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 116, 117],
            dtype='int64'),
 'Andalusia': Int64Index([ 337,  339,  340,  618,  765,  803,  805, 1013, 1295, 1420, 1421,
             1476, 1493, 1695, 1696],
            dtype='int64'),
 'Anniston': Int64Index([ 332,  333,  334,  335,  492,  617,  727,  728,  761,  764,  823,
              911, 1260, 1261, 1294, 1312, 1386, 1469, 1475, 1494, 1657, 1658,
             1697, 1698, 1699, 1700, 1701, 2076],
            dtype='int64'),
 'Arab': Int64Index([350, 498, 606, 892, 1008, 1009, 1350, 1351, 1404, 1692, 1693,
             2015],
            dtype='int64'),
 'Ardmore': Int64Index([345, 351, 605, 1439], dtype='int64'),
 'Arkadelphia': Int64Index([2161, 2465, 2466], dtype='int64'),
 'Ashdown': Int64Index([2334], dtype='int64'),
 'Ashford': Int64Index([352, 1629, 2038], dtype='int64'),
 'Athens': Int64Index([ 162,  346,  347,  348,  349,  607,  608,  609,  792,  793,  932,
              968, 1006, 1007, 1197, 1248, 1481, 1492, 1677, 1687, 1688, 1689,
             1690, 1691, 2020],
            dtype='int64'),
 'Atmore': Int64Index([341, 1491, 1530, 1531, 1682], dtype='int64'),
 'Attalla': Int64Index([342], dtype='int64'),
 'Auburn': Int64Index([ 343,  611,  612,  613,  860,  861, 1005, 1174, 1224, 1358, 1438,
             1482, 1577, 1578, 1594, 1683, 1684, 1685, 1686, 2044, 2058],
            dtype='int64'),
 'BESSEMER': Int64Index([2085], dtype='int64'),
 'BIRMINGHAM': Int64Index([1545], dtype='int64'),
 'Batesville': Int64Index([2133, 2158, 2183, 2282, 2283, 2367, 2415, 2416, 2461], dtype='int64'),
 'Bay Minette': Int64Index([163, 344, 610, 786, 849, 850, 1526, 1678, 1679, 1680, 1681, 2040], dtype='int64'),
 'Beebe': Int64Index([2354], dtype='int64'),
 'Bella Vista': Int64Index([2186], dtype='int64'),
 'Benton': Int64Index([2159, 2160, 2184, 2185, 2321, 2421, 2422], dtype='int64'),
 'Bentonville': Int64Index([2013, 2112, 2187, 2188, 2189, 2320, 2474, 2480, 2481], dtype='int64'),
 'Berryville': Int64Index([2279, 2439], dtype='int64'),
 'Bessemer': Int64Index([ 353,  354,  355,  574,  575,  576,  577,  695, 1268, 1297, 1434,
             1435, 1437, 1648, 1653, 1792, 1793, 1794, 1795, 2057, 2094],
            dtype='int64'),
 'Birmingham': Int64Index([ 122,  135,  136,  137,  138,  145,  146,  147,  149,  159,
             ...
             2061, 2062, 2066, 2071, 2072, 2073, 2074, 2082, 2083, 2084],
            dtype='int64', length=270),
 'Blountsville': Int64Index([967], dtype='int64'),
 'Blytheville': Int64Index([2132, 2190, 2191], dtype='int64'),
 'Boaz': Int64Index([889, 1347, 1783, 1784, 2075], dtype='int64'),
 'Booneville': Int64Index([2482], dtype='int64'),
 'Brewton': Int64Index([356, 665, 673, 962, 1088, 1089, 1271, 1296, 1310, 1333, 1348, 1781,
             1782],
            dtype='int64'),
 'Brinkley': Int64Index([2405], dtype='int64'),
 'Brundidge': Int64Index([357, 1111, 1787], dtype='int64'),
 'Bryant': Int64Index([2136], dtype='int64'),
 'Butler': Int64Index([358, 1576, 1788, 2012], dtype='int64'),
 'Cabot': Int64Index([2102, 2165, 2181, 2182, 2447, 2448], dtype='int64'),
 'Camden': Int64Index([359, 943, 1789, 2285, 2423, 2455, 2496, 2497], dtype='int64'),
 'Carbon Hill': Int64Index([364], dtype='int64'),
 'Carlisle': Int64Index([2166, 2280], dtype='int64'),
 'Centre': Int64Index([360, 361, 362, 363, 497, 573, 724, 725, 890, 1304, 1433, 1473,
             1785, 1786],
            dtype='int64'),
 'Centreville': Int64Index([365, 366, 1138, 1139, 1775, 1776], dtype='int64'),
 'Charleston': Int64Index([2281], dtype='int64'),
 'Chatom': Int64Index([1331], dtype='int64'),
 'Chelsea': Int64Index([571, 1272, 1273, 1654], dtype='int64'),
 'Cherokee': Int64Index([367, 368], dtype='int64'),
 'Childersburg': Int64Index([369, 370, 865, 1211, 1773], dtype='int64'),
 'Citronelle': Int64Index([373, 986, 1774, 1778], dtype='int64'),
 'Clanton': Int64Index([ 371,  372,  572,  757,  758,  922,  925,  973, 1259, 1324, 1501,
             1584, 1668, 1779, 1780],
            dtype='int64'),
 'Clayton': Int64Index([374], dtype='int64'),
 'Columbiana': Int64Index([666, 965, 966, 985, 1325, 1777], dtype='int64'),
 'Conway': Int64Index([2106, 2134, 2135, 2176, 2177, 2178, 2179, 2326, 2368], dtype='int64'),
 'Crossett': Int64Index([2180], dtype='int64'),
 'Crossville': Int64Index([383, 1142, 1143, 1144, 1769], dtype='int64'),
 'Cullman': Int64Index([ 134,  384,  385,  386,  387,  388,  564,  779,  799,  821,  822,
              884,  989, 1080, 1157, 1195, 1217, 1218, 1227, 1228, 1430, 1431,
             1552, 1600, 1601, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 2096],
            dtype='int64'),
 'Cumming': Int64Index([241], dtype='int64'),
 'Dadeville': Int64Index([380, 381, 1626, 1627], dtype='int64'),
 'Daleville': Int64Index([382, 2051], dtype='int64'),
 'Danville': Int64Index([2295], dtype='int64'),
 'Daphne': Int64Index([155, 156, 379, 565, 990, 1107, 1121, 1299, 1385, 1628, 1768], dtype='int64'),
 'De Queen': Int64Index([2355, 2356], dtype='int64'),
 'Deatsville': Int64Index([993, 994], dtype='int64'),
 'Decatur': Int64Index([ 121,  133,  150,  157,  158,  375,  376,  377,  378,  559,  560,
              561,  562,  563,  686,  691,  714,  759,  780,  781,  782,  885,
              886,  887,  888,  928,  987,  988, 1019, 1076, 1196, 1263, 1298,
             1311, 1345, 1369, 1432, 1461, 1471, 1548, 1618, 1635, 1636, 1665,
             1770, 1771, 1772, 2090, 2091],
            dtype='int64'),
 'Demopolis': Int64Index([398, 399, 1300, 1323, 1400, 1676, 1749, 1750, 1751], dtype='int64'),
 'Dewitt': Int64Index([2469, 2470], dtype='int64'),
 'Dora': Int64Index([880], dtype='int64'),
 'Dothan': Int64Index([ 132,  151,  152,  394,  395,  396,  397,  567,  568,  569,  570,
              694,  769,  826,  960,  961,  981,  991,  992, 1079, 1117, 1123,
             1125, 1171, 1194, 1246, 1301, 1326, 1332, 1343, 1359, 1360, 1412,
             1579, 1752, 1753, 1754, 1755, 2049, 2050, 2064, 2065],
            dtype='int64'),
 'Double Springs': Int64Index([393, 837, 1984], dtype='int64'),
 'Eagle River': Int64Index([3, 12, 91], dtype='int64'),
 'Eclectic': Int64Index([1113], dtype='int64'),
 'El Dorado': Int64Index([2201, 2202, 2203, 2301, 2335, 2432, 2438], dtype='int64'),
 'Elba': Int64Index([391, 392, 820, 1180, 1760], dtype='int64'),
 'Elkmont': Int64Index([980], dtype='int64'),
 'Enterprise': Int64Index([ 131,  153,  154,  389,  390,  566,  692,  712,  713,  737,  738,
              855,  856,  883, 1303, 1500, 1559, 1661, 1756, 1757, 1758, 1759],
            dtype='int64'),
 'Eufaula': Int64Index([304, 1090, 1191, 1318, 1510, 1524, 1538, 1834, 2002], dtype='int64'),
 'Eureka Springs': Int64Index([2115, 2277, 2347], dtype='int64'),
 'Eutaw': Int64Index([305, 306, 1401, 1650, 1982], dtype='int64'),
 'Evergreen': Int64Index([307, 1832, 1833, 2092, 2098], dtype='int64'),
 'Fairbanks': Int64Index([2, 7, 8, 31, 37, 41, 42, 59, 60, 70, 71, 75, 76, 77, 112, 113], dtype='int64'),
 'Fairfield': Int64Index([303, 543], dtype='int64'),
 'Fairfield Bay': Int64Index([2116, 2164], dtype='int64'),
 'Fairhope': Int64Index([ 178,  544,  545,  546,  668,  669,  670,  700, 1207, 1374, 1478,
             1570, 1643, 1835, 1836],
            dtype='int64'),
 'Fayette': Int64Index([302, 801, 923, 1985], dtype='int64'),
 'Fayetteville': Int64Index([2101, 2131, 2153, 2197, 2198, 2199, 2200, 2278, 2317, 2318, 2323,
             2324, 2328, 2330, 2331, 2384, 2395, 2433, 2434, 2484],
            dtype='int64'),
 'Flippin': Int64Index([2345], dtype='int64'),
 'Florence': Int64Index([ 125,  126,  127,  128,  177,  308,  309,  310,  538,  539,  540,
              541,  542,  676,  677,  701,  770,  778,  839,  840,  857,  858,
              866,  868,  929, 1029, 1030, 1094, 1128, 1158, 1281, 1317, 1399,
             1444, 1460, 1477, 1511, 1512, 1513, 1572, 1573, 1596, 1611, 1823,
             1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 2059, 2100],
            dtype='int64'),
 'Foley': Int64Index([294, 295, 536, 682, 771, 978, 1166, 1167, 1396, 1846, 1847], dtype='int64'),
 'Fordyce': Int64Index([2352], dtype='int64'),
 'Forrest City': Int64Index([2120, 2124, 2125, 2155, 2372, 2425], dtype='int64'),
 'Fort Payne': Int64Index([ 292,  293,  537,  671,  919,  949,  950,  979, 1150, 1192, 1202,
             1203, 1336, 1459, 1514, 1848],
            dtype='int64'),
 'Fort Smith': Int64Index([2117, 2118, 2128, 2129, 2130, 2195, 2196, 2300, 2304, 2315, 2316,
             2332, 2333, 2336, 2337, 2346, 2373, 2374, 2383, 2389, 2394, 2412,
             2431, 2446, 2486, 2487],
            dtype='int64'),
 'Fultondale': Int64Index([1352, 1353], dtype='int64'),
 'Gadsden': Int64Index([ 141,  176,  298,  299,  300,  301,  493,  499,  532,  744,  745,
              752,  753,  772,  824,  859,  897,  921,  924,  926,  927, 1127,
             1148, 1149, 1219, 1220, 1280, 1319, 1327, 1329, 1365, 1382, 1446,
             1840, 1841, 1842, 1843, 1844, 1845],
            dtype='int64'),
 'Gardendale': Int64Index([296, 297, 533, 534, 535, 1130, 1172, 1175, 1255, 1445, 1837, 1838,
             1839],
            dtype='int64'),
 'Geneva': Int64Index([271, 1096], dtype='int64'),
 'Geraldine': Int64Index([269], dtype='int64'),
 'Gilbertown': Int64Index([270], dtype='int64'),
 'Grand Bay': Int64Index([272, 273, 1799, 1994, 2053], dtype='int64'),
 'Grant': Int64Index([274], dtype='int64'),
 'Greeley': Int64Index([812], dtype='int64'),
 'Greenbrier': Int64Index([2107], dtype='int64'),
 'Greensboro': Int64Index([869, 1797, 1798, 2016], dtype='int64'),
 'Greenville': Int64Index([275, 667, 894, 1095, 1316, 1503], dtype='int64'),
 'Greers Ferry': Int64Index([2495], dtype='int64'),
 'Grove Hill': Int64Index([276, 277, 907, 1241], dtype='int64'),
 'Guin': Int64Index([1381], dtype='int64'),
 'Gulf Shores': Int64Index([278, 279], dtype='int64'),
 'Guntersville': Int64Index([280, 895, 896, 969, 1135, 1165, 1502, 1675, 1796, 1999, 2000,
             2001],
            dtype='int64'),
 'Gurley': Int64Index([281], dtype='int64'),
 'HUNTSVILLE': Int64Index([740], dtype='int64'),
 'Haleyville': Int64Index([282, 736, 1024, 1025, 1026, 1479, 1505, 1800, 1987], dtype='int64'),
 'Hamburg': Int64Index([2293], dtype='int64'),
 'Hamilton': Int64Index([930, 1986, 1995], dtype='int64'),
 'Hampton Cove': Int64Index([875], dtype='int64'),
 'Hanceville': Int64Index([283], dtype='int64'),
 'Harpersville': Int64Index([558, 1447], dtype='int64'),
 'Harrison': Int64Index([2121, 2122, 2126, 2194, 2319, 2400, 2403, 2404], dtype='int64'),
 'Hartford': Int64Index([284, 1168, 1169], dtype='int64'),
 'Hartselle': Int64Index([285, 286, 814, 1028, 1181, 1182, 1186, 1448, 1801, 1802], dtype='int64'),
 'Hazel Green': Int64Index([287, 556, 1027], dtype='int64'),
 'Headland': Int64Index([288, 1504], dtype='int64'),
 'Heber Springs': Int64Index([2286, 2456, 2457, 2491, 2492], dtype='int64'),
 'Heflin': Int64Index([289, 1803, 2029, 2030], dtype='int64'),
 'Helena': Int64Index([557, 715, 716, 1804, 2008], dtype='int64'),
 'Henagar': Int64Index([290, 1379], dtype='int64'),
 'Holly Pond': Int64Index([291], dtype='int64'),
 'Homer': Int64Index([73], dtype='int64'),
 'Homewood': Int64Index([2047, 2077], dtype='int64'),
 'Hoover': Int64Index([195, 941, 1247, 1419, 1619, 1620], dtype='int64'),
 'Hope': Int64Index([2127, 2322], dtype='int64'),
 'Hot Springs': Int64Index([2156, 2157, 2174], dtype='int64'),
 'Hot Springs National': Int64Index([2276], dtype='int64'),
 'Hot Springs National Park': Int64Index([2162, 2192, 2193, 2382, 2409], dtype='int64'),
 'Hot Springs Village': Int64Index([2206], dtype='int64'),
 'Hueytown': Int64Index([811, 813], dtype='int64'),
 'Huntsville': Int64Index([ 170,  172,  173,  174,  175,  192,  257,  258,  259,  260,
             ...
             2026, 2037, 2042, 2045, 2046, 2054, 2056, 2097, 2471, 2472],
            dtype='int64', length=112),
 'Jackson': Int64Index([231, 232, 800, 1053, 1286, 1313, 1449, 1450, 1528, 1529], dtype='int64'),
 'Jacksonville': Int64Index([233, 502, 945, 946, 2207, 2208, 2209, 2358, 2359, 2390, 2464], dtype='int64'),
 'Jasper': Int64Index([ 140,  228,  229,  230,  244,  503,  899, 1051, 1052, 1086, 1087,
             1152, 1155, 1287, 1383, 1384, 1631, 1632, 1896, 1897, 1898, 1899,
             2095],
            dtype='int64'),
 'Jonesboro': Int64Index([2140, 2141, 2142, 2167, 2210, 2211, 2212, 2213, 2214, 2215, 2297,
             2313, 2344, 2357, 2381, 2420, 2445, 2485],
            dtype='int64'),
 'Juneau': Int64Index([9, 28, 29, 74, 94, 109, 110, 111, 115], dtype='int64'),
 'Kenai': Int64Index([34, 35, 64, 65], dtype='int64'),
 'Ketchikan': Int64Index([38, 39, 81, 82, 107, 108], dtype='int64'),
 'Killen': Int64Index([243, 504, 1049], dtype='int64'),
 'Kimberly': Int64Index([1050], dtype='int64'),
 'Kodiak': Int64Index([10, 45, 46], dtype='int64'),
 'Lafayette': Int64Index([171, 240, 1663], dtype='int64'),
 'Lanett': Int64Index([239, 242, 974, 1170, 2048], dtype='int64'),
 'Leeds': Int64Index([238, 505, 834, 835, 936, 975, 1091, 1092, 1178, 1193, 1893, 1894,
             1996, 1997],
            dtype='int64'),
 'Lepanto': Int64Index([2169], dtype='int64'),
 'Lexington': Int64Index([236, 1048], dtype='int64'),
 'Linden': Int64Index([235, 1354, 1895], dtype='int64'),
 'Lineville': Int64Index([234, 873, 1370], dtype='int64'),
 'Little Rock': Int64Index([2103, 2104, 2143, 2144, 2145, 2146, 2147, 2168, 2204, 2216, 2217,
             2218, 2219, 2220, 2221, 2222, 2223, 2224, 2225, 2226, 2227, 2228,
             2229, 2230, 2231, 2314, 2339, 2340, 2343, 2348, 2349, 2353, 2360,
             2364, 2365, 2378, 2380, 2386, 2406, 2407, 2414, 2436, 2437, 2449,
             2462, 2463, 2475, 2483, 2488, 2493, 2494],
            dtype='int64'),
 'Livingston': Int64Index([237, 1397], dtype='int64'),
 'Locust Fork': Int64Index([245], dtype='int64'),
 'Lonoke': Int64Index([2379], dtype='int64'),
 'Luverne': Int64Index([246, 1656], dtype='int64'),
 'MOBILE': Int64Index([940], dtype='int64'),
 'Madison': Int64Index([ 247,  248,  506,  507,  508,  898,  916, 1042, 1043, 1044, 1045,
             1452, 1532, 1571, 1582, 1583, 1664, 1900, 1901, 1902, 2088],
            dtype='int64'),
 'Magnolia': Int64Index([2303, 2452, 2453], dtype='int64'),
 'Malvern': Int64Index([2205, 2361, 2435], dtype='int64'),
 'Maplesville': Int64Index([249, 976], dtype='int64'),
 'Marianna': Int64Index([2109, 2287, 2399], dtype='int64'),
 'Marion': Int64Index([219, 2249], dtype='int64'),
 'Maumelle': Int64Index([2250, 2251], dtype='int64'),
 'Mena': Int64Index([2476, 2477], dtype='int64'),
 'Meridianville': Int64Index([220, 221], dtype='int64'),
 'Midland City': Int64Index([222], dtype='int64'),
 'Millbrook': Int64Index([223, 224, 225, 226, 227, 513, 977, 1031, 1371, 1372], dtype='int64'),
 'Mobile': Int64Index([ 124,  164,  165,  191,  211,  212,  213,  214,  215,  216,
             ...
             1890, 1891, 1892, 1903, 2003, 2018, 2021, 2078, 2089, 2093],
            dtype='int64', length=142),
 'Monroeville': Int64Index([400, 401, 402, 403, 635, 654, 655, 1066, 1067, 1243, 1489, 1605,
             1909, 1910],
            dtype='int64'),
 'Montevallo': Int64Index([405, 1422, 1612, 1613], dtype='int64'),
 'Montgomery': Int64Index([ 118,  123,  139,  166,  167,  168,  169,  197,  198,  200,
             ...
             1862, 1863, 1864, 1865, 1866, 1867, 1868, 2005, 2063, 2099],
            dtype='int64', length=104),
 'Monticello': Int64Index([2289, 2467, 2468], dtype='int64'),
 'Moody': Int64Index([179, 404, 636], dtype='int64'),
 'Morrilton': Int64Index([2427], dtype='int64'),
 'Moulton': Int64Index([408, 810, 836, 1068, 1229, 1908, 2031, 2032], dtype='int64'),
 'Moundville': Int64Index([406, 407], dtype='int64'),
 'Mount Hope': Int64Index([689], dtype='int64'),
 'Mount Olive': Int64Index([1216], dtype='int64'),
 'Mountain Home': Int64Index([2123, 2137, 2246, 2247, 2248, 2294, 2429, 2473], dtype='int64'),
 'Muscle Shoals': Int64Index([180, 181, 412, 413, 500, 633, 634, 693, 756, 1065, 1129, 1390,
             1391, 1906, 1907],
            dtype='int64'),
 'N Little Rock': Int64Index([2397, 2398], dtype='int64'),
 'Nashville': Int64Index([2154, 2290], dtype='int64'),
 'New Hope': Int64Index([414, 415], dtype='int64'),
 'New Market': Int64Index([1063, 1064], dtype='int64'),
 'Newport': Int64Index([2170], dtype='int64'),
 'North Little Rock': Int64Index([2105, 2110, 2232, 2233, 2234, 2244, 2245, 2299], dtype='int64'),
 'North Pole': Int64Index([11], dtype='int64'),
 'Northport': Int64Index([ 119,  120,  182,  183,  184,  194,  409,  410,  411,  632, 1062,
             1101, 1367, 1598, 1599, 1904, 1905, 2060],
            dtype='int64'),
 'Ola': Int64Index([2138], dtype='int64'),
 'Oneonta': Int64Index([148, 638, 1308, 1334, 1488, 1533, 1673, 1916, 1917, 1918], dtype='int64'),
 'Opelika': Int64Index([ 185,  420,  421,  762,  804, 1321, 1424, 1465, 1637, 1919, 1920,
             1921, 1922, 2007, 2086],
            dtype='int64'),
 'Opp': Int64Index([422, 429, 1254], dtype='int64'),
 'Osceola': Int64Index([2430], dtype='int64'),
 'Owens Cross Roads': Int64Index([423, 424, 1072, 1187], dtype='int64'),
 'Oxford': Int64Index([428, 637, 1267, 1425, 1923, 1924, 1991], dtype='int64'),
 'Ozark': Int64Index([425, 426, 427, 952, 1258, 1925, 2275], dtype='int64'),
 'Paragould': Int64Index([2139, 2235, 2236, 2288, 2312, 2377], dtype='int64'),
 'Paris': Int64Index([2274], dtype='int64'),
 'Pelham': Int64Index([142, 419, 641, 642, 706, 902, 1275, 1361, 1423, 1426, 1913, 1914,
             2025],
            dtype='int64'),
 'Pell City': Int64Index([418, 639, 903, 904, 933, 934, 1069, 1070, 1415, 1417, 1915, 1989,
             1990],
            dtype='int64'),
 'Perdido': Int64Index([1409], dtype='int64'),
 'Phenix City': Int64Index([ 416,  417,  640,  797,  910,  959, 1071, 1147, 1200, 1201, 1245,
             1346, 1564, 1565, 1911, 1912],
            dtype='int64'),
 'Piedmont': Int64Index([446, 447], dtype='int64'),
 'Piggott': Int64Index([2306], dtype='int64'),
 'Pine Bluff': Int64Index([2237, 2238, 2239, 2284, 2298, 2305, 2325, 2327, 2387, 2393, 2396,
             2413, 2460],
            dtype='int64'),
 'Pinson': Int64Index([448, 1108, 1428, 1927], dtype='int64'),
 'Pleasant Grove': Int64Index([451, 620, 1230, 1543], dtype='int64'),
 'Pocahontas': Int64Index([2272, 2410, 2411, 2450], dtype='int64'),
 'Prattville': Int64Index([ 449,  450,  621,  622,  733,  783,  784,  807,  808,  920, 1057,
             1058, 1059, 1375, 1376, 1464, 1484, 1522, 1670, 1672, 1926, 1928,
             1929, 1930],
            dtype='int64'),
 'Prescott': Int64Index([2163, 2273], dtype='int64'),
 'Rainbow City': Int64Index([452, 619, 685, 847, 848], dtype='int64'),
 'Rainsville': Int64Index([453, 459, 624, 971, 1204, 1205, 1378, 1380, 1932], dtype='int64'),
 'Ranburne': Int64Index([1388, 1389], dtype='int64'),
 'Red Bay': Int64Index([460, 2041], dtype='int64'),
 'Reform': Int64Index([723, 1931, 1988], dtype='int64'),
 'Roanoke': Int64Index([461, 1633, 1634, 1933], dtype='int64'),

In [11]:
df.groupby('STATE')['ZIPCODE'].nunique()

STATE
Alabama     265
Alaska       22
Arkansas    103
Colorado      1
Georgia       1
Name: ZIPCODE, dtype: int64

In [4]:
def distance(x,y):
    dist = pgeocode.GeoDistance('US')
    return dist.query_postal_code(str(x), y)

In [13]:
%%time
df['NYC_dist']=df['ZIPCODE'].apply(lambda x : distance(x,10001))

Wall time: 12min

In [14]:
df['LA_dist']=df['ZIPCODE'].apply(lambda x : distance(x,90001))

In [15]:
df['Chicago_dist']=df['ZIPCODE'].apply(lambda x : distance(x,60007))

In [16]:
df['Houston_dist']=df['ZIPCODE'].apply(lambda x : distance(x,77001))

In [17]:
df['phoenix_dist']=df['ZIPCODE'].apply(lambda x : distance(x,85001))

In [18]:
df['dallas_dist']=df['ZIPCODE'].apply(lambda x : distance(x,75001))

In [19]:
df['sanjose_dist']=df['ZIPCODE'].apply(lambda x : distance(x,94088))

In [20]:
df['austin_dist']=df['ZIPCODE'].apply(lambda x : distance(x,73301))

In [21]:
df['columbus_dist']=df['ZIPCODE'].apply(lambda x : distance(x,43004))

In [15]:
df.to_csv('modified_agents.csv')

In [16]:
df

,ID,NAME,ADDRESS,CITY,ZIPCODE,STATE,NYC_dist,LA_dist,Chicago_dist,Houston_dist,phoenix_dist,dallas_dist,sanjose_dist,austin_dist,columbus_dist,mean
0,3,Xfu Gtmxsi,PO Box 112989,Anchorage,99511,Alaska,5405.414388,3758.909669,4551.003448,5252.897616,4082.129251,4880.570144,3266.682223,5077.985654,4999.236194,3985.490467
1,4,Vecgyeap C,2217 E Tudor Rd Ste 1,Anchorage,99507,Alaska,5404.978036,3766.031761,4552.295898,5256.956647,4088.364102,4884.496090,3274.053290,5082.361493,5000.104485,3989.407085
2,5,W N Icsjv,3515 Industrial Ave Ste D,Fairbanks,99701,Alaska,5234.005280,3962.234695,4458.035243,5286.436221,4233.909395,4909.187697,3487.446680,5128.008142,4885.375749,4038.959314
3,6,Trqkfygv V,12812 Old Glenn Hwy A3,Eagle River,99577,Alaska,5384.667959,3763.801651,4534.803963,5245.363626,4082.998216,4872.580186,3272.808290,5071.574376,4981.858137,3980.643160
4,7,S Yfrlvs,2550 Denali St.,Anchorage,99503,Alaska,5407.559244,3771.286444,4555.677024,5261.414270,4093.448424,4888.908530,3279.342897,5086.924632,5003.297462,3993.366632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2493,2493,Bnjx Fy,10825 Financial Ctr Pkwy,Little Rock,72211,Arkansas,1748.036132,2365.706040,895.151136,611.462904,1812.384822,453.322392,2667.192985,701.516580,1031.632750,1170.929956
2494,2494,Je Ldroqh,10825 Financial Centre Pkw,Little Rock,72211,Arkansas,1748.036132,2365.706040,895.151136,611.462904,1812.384822,453.322392,2667.192985,701.516580,1031.632750,1170.929956
2495,2495,Xdnrm Zvs,8305 Edgemont Road Suite B,Greers Ferry,72067,Arkansas,1683.331882,2384.850640,800.655188,705.486830,1839.020407,520.500954,2670.211290,784.829667,956.633018,1184.687555
2496,2496,Juuwnyalho,353 Jefferson St SW,Camden,71701,Arkansas,1845.113366,2341.470736,1027.775268,480.493740,1779.466356,377.291944,2664.843128,589.365850,1143.289670,1155.999632
2497,2497,Ikf Luma,353 Jefferson Street Southwest,Camden,71701,Arkansas,1845.113366,2341.470736,1027.775268,480.493740,1779.466356,377.291944,2664.843128,589.365850,1143.289670,1155.999632

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2498 entries, 0 to 2497
Data columns (total 16 columns):
ID               2498 non-null int64
NAME             2498 non-null object
ADDRESS          2498 non-null object
CITY             2498 non-null object
ZIPCODE          2498 non-null int64
STATE            2498 non-null object
NYC_dist         2498 non-null float64
LA_dist          2498 non-null float64
Chicago_dist     2498 non-null float64
Houston_dist     2498 non-null float64
phoenix_dist     2498 non-null float64
dallas_dist      2498 non-null float64
sanjose_dist     2498 non-null float64
austin_dist      2498 non-null float64
columbus_dist    2498 non-null float64
mean             2498 non-null float64
dtypes: float64(10), int64(2), object(4)
memory usage: 312.4+ KB

In [2]:
df=pd.read_csv('modified_agents.csv')

In [5]:
df['boston_dist']=df['ZIPCODE'].apply(lambda x : distance(x,'02212'))

In [6]:
df
['sandiego_dist']=df['ZIPCODE'].apply(lambda x : distance(x,91901))

In [7]:
df['mean']=(df['sandiego_dist']+df['boston_dist']+df['LA_dist']+df['Chicago_dist']+df['Houston_dist']+df['phoenix_dist']+df['dallas_dist']+df['sanjose_dist']+df['austin_dist']+df['columbus_dist'])/11

In [8]:
df.columns

Index(['Unnamed: 0', 'ID', 'NAME', 'ADDRESS', 'CITY', 'ZIPCODE', 'STATE',
       'NYC_dist', 'LA_dist', 'Chicago_dist', 'Houston_dist', 'phoenix_dist',
       'dallas_dist', 'sanjose_dist', 'austin_dist', 'columbus_dist', 'mean',
       'boston_dist', 'sandiego_dist'],
      dtype='object')

In [17]:
del df['Unnamed: 0']

In [9]:
df

,Unnamed: 0,ID,NAME,ADDRESS,CITY,ZIPCODE,STATE,NYC_dist,LA_dist,Chicago_dist,Houston_dist,phoenix_dist,dallas_dist,sanjose_dist,austin_dist,columbus_dist,mean,boston_dist,sandiego_dist
0,0,3,Xfu Gtmxsi,PO Box 112989,Anchorage,99511,Alaska,5405.414388,3758.909669,4551.003448,5252.897616,4082.129251,4880.570144,3266.682223,5077.985654,4999.236194,4111.314347,5419.663776,3935.379845
1,1,4,Vecgyeap C,2217 E Tudor Rd Ste 1,Anchorage,99507,Alaska,5404.978036,3766.031761,4552.295898,5256.956647,4088.364102,4884.496090,3274.053290,5082.361493,5000.104485,4115.060937,5418.622384,3942.384152
2,2,5,W N Icsjv,3515 Industrial Ave Ste D,Fairbanks,99701,Alaska,5234.005280,3962.234695,4458.035243,5286.436221,4233.909395,4909.187697,3487.446680,5128.008142,4885.375749,4154.981447,5223.184240,4130.977851
3,3,6,Trqkfygv V,12812 Old Glenn Hwy A3,Eagle River,99577,Alaska,5384.667959,3763.801651,4534.803963,5245.363626,4082.998216,4872.580186,3272.808290,5071.574376,4981.858137,4105.725075,5397.480977,3939.706405
4,4,7,S Yfrlvs,2550 Denali St.,Anchorage,99503,Alaska,5407.559244,3771.286444,4555.677024,5261.414270,4093.448424,4888.908530,3279.342897,5086.924632,5003.297462,4118.983845,5420.902523,3947.620091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2493,2493,2493,Bnjx Fy,10825 Financial Ctr Pkwy,Little Rock,72211,Arkansas,1748.036132,2365.706040,895.151136,611.462904,1812.384822,453.322392,2667.192985,701.516580,1031.632750,1347.804087,2034.223978,2253.251368
2494,2494,2494,Je Ldroqh,10825 Financial Centre Pkw,Little Rock,72211,Arkansas,1748.036132,2365.706040,895.151136,611.462904,1812.384822,453.322392,2667.192985,701.516580,1031.632750,1347.804087,2034.223978,2253.251368
2495,2495,2495,Xdnrm Zvs,8305 Edgemont Road Suite B,Greers Ferry,72067,Arkansas,1683.331882,2384.850640,800.655188,705.486830,1839.020407,520.500954,2670.211290,784.829667,956.633018,1355.132456,1965.593364,2278.675653
2496,2496,2496,Juuwnyalho,353 Jefferson St SW,Camden,71701,Arkansas,1845.113366,2341.470736,1027.775268,480.493740,1779.466356,377.291944,2664.843128,589.365850,1143.289670,1341.824954,2135.632958,2220.444839
2497,2497,2497,Ikf Luma,353 Jefferson Street Southwest,Camden,71701,Arkansas,1845.113366,2341.470736,1027.775268,480.493740,1779.466356,377.291944,2664.843128,589.365850,1143.289670,1341.824954,2135.632958,2220.444839

In [10]:
df_sorted=df.sort_values('mean')

In [11]:
near_100=df_sorted.head(100)

In [12]:
near_100.to_csv('agents100.csv',index=False)

In [13]:
ag=pd.read_csv('agents100.csv')

In [18]:
del ag['Unnamed: 0']

In [19]:
ag['CITY'].value_counts()

Fort Smith        26
Fayetteville      20
Rogers            16
Springdale         9
Bentonville        9
Van Buren          9
Nashville          2
Mena               2
De Queen           2
Booneville         1
Siloam Springs     1
Ashdown            1
Bella Vista        1
Charleston         1
Name: CITY, dtype: int64

In [20]:
ag['STATE'].value_counts()

Arkansas    100
Name: STATE, dtype: int64

In [21]:
ag

,ID,NAME,ADDRESS,CITY,ZIPCODE,STATE,NYC_dist,LA_dist,Chicago_dist,Houston_dist,phoenix_dist,dallas_dist,sanjose_dist,austin_dist,columbus_dist,mean,boston_dist,sandiego_dist
0,2356,Vldxsauy V,121 Highway 71 North,De Queen,71832,Arkansas,1939.627548,2198.806538,1044.745413,479.313320,1639.092182,261.260077,2518.850138,524.565147,1218.790048,1290.041822,2224.792937,2080.244238
1,2357,Ktf Jvua Q,121 Highway 71 N,De Queen,71832,Arkansas,1939.627548,2198.806538,1044.745413,479.313320,1639.092182,261.260077,2518.850138,524.565147,1218.790048,1290.041822,2224.792937,2080.244238
2,2301,Byp M Vqxt,115 N 10th St,Fort Smith,72901,Arkansas,1879.731687,2180.169861,924.488434,623.083577,1632.156424,348.423178,2474.690283,642.127881,1143.407192,1290.746625,2157.543934,2072.122110
3,2118,H Eoidpy V,1406 Zero Street,Fort Smith,72901,Arkansas,1879.731687,2180.169861,924.488434,623.083577,1632.156424,348.423178,2474.690283,642.127881,1143.407192,1290.746625,2157.543934,2072.122110
4,2117,Yztrsrkk H,1316 Highway 71 S,Fort Smith,72901,Arkansas,1879.731687,2180.169861,924.488434,623.083577,1632.156424,348.423178,2474.690283,642.127881,1143.407192,1290.746625,2157.543934,2072.122110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2241,F Jgwu Kyd,11 Halsted Cir Ste A,Rogers,72756,Arkansas,1812.575379,2203.911838,821.816202,733.823445,1666.569624,450.527978,2477.952019,749.486873,1068.869854,1305.602195,2084.756416,2103.909899
96,2292,Rld Wp Fh,207 N 24th St,Rogers,72756,Arkansas,1812.575379,2203.911838,821.816202,733.823445,1666.569624,450.527978,2477.952019,749.486873,1068.869854,1305.602195,2084.756416,2103.909899
97,2244,Xabqxrme U,1417 W Walnut St,Rogers,72756,Arkansas,1812.575379,2203.911838,821.816202,733.823445,1666.569624,450.527978,2477.952019,749.486873,1068.869854,1305.602195,2084.756416,2103.909899
98,2262,Pchlneocxm,210 South Thompson Street Suite 2,Springdale,72764,Arkansas,1813.482021,2210.539743,832.419842,716.817600,1671.241440,439.336660,2487.865186,736.483742,1071.243824,1305.644445,2086.992938,2109.147920
99,2119,Gamytap Nt,120 N Thompson St,Springdale,72764,Arkansas,1813.482021,2210.539743,832.419842,716.817600,1671.241440,439.336660,2487.865186,736.483742,1071.243824,1305.644445,2086.992938,2109.147920